table, .content, .button, .menu, form, .error {
    font-family: 'Lato', sans-serif;
}

/*Pink color*/
.pink {
    background-color: rgb(255, 49, 79);
}

.font24 {
    font-size: 24px;
}

.font18 {
    font-size: 18px;
}

.font48 {
    font-size: 48px;
}

.font12 {
    font-size: 12px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 49, 79);
}

.menu li {
    float: left;
    transition: background-color 2s;
    transition: box-shadow 0.5s;
    width: 25%;
}

.menu li:hover {
    background-color: rgb(225, 89, 119);
    box-shadow: 0px 8px 12px 8px rgb(225, 19, 49);
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.header {
    text-align: center;
    display: block;
    color: #444;
    font-family: 'Lobster Two', cursive;
    width: 100%;
    margin-top: 32px;
}

.content {
    background-color: #ddd;
    padding: 16px;
    box-shadow: 4px 4px 8px #aaa;
}

.button {
    padding: 14px;
    display: inline-block;
    text-align: center;
    margin: 12px;
    text-transform: uppercase;
    transition: background-color 2s;
    transition: box-shadow 0.5s;
    padding: 16px;
    border: none;
    color: white;
}


.button:hover {
    /*Pink color with 0.8 alpha*/
    background-color: rgba(255, 49, 79, 0.8);
    box-shadow: 8px 8px 12px #666;
}

.button a {
    color: white;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

table {
    width: 100%;
}

.firstrow {
    background-color: #444;
    color: white;
    margin: 8px;
    transition: box-shadow 0.5s;
}

.firstrow:hover {
    box-shadow: 1px 1px #ccc;
}

.firstrow th {
    padding: 16px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tr:nth-child(even) {
    background-color: #CCCCCC;
}

td {
    padding: 8px;
}

.activatedrow {
    transition: box-shadow 1s;
}

.activatedrow:hover {
    box-shadow: 0px -2px 8px 4px #888;
}

.hide {
    display: none;
}

.error {
    background-color: rgb(225, 225, 225);
    color: rgb(255, 49, 79);
    padding: 16px;
    display: block;
    margin: 8px;
}

.formElem {
    border: none;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    border-radius: 2px;
    background: #ccc;
    font-size: 16px
    transition: box-shadow 1s;
}

.formElem:focus {
    box-shadow: 4px 4px 8px #ccc;
}

form button {
    margin: 16px;
}

.row {
    width: 100%;
}

.inline {
    display: inline-block;
    margin: 16px;
}