<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css" />
    <title>Dish List</title>
</head>
<body>
    <table>
        <tr>
            <th>NAME</th>
            <th>WEIGHT</th>
            <th>TYPE</th>
            <th>COST</th>
            <th>CURRENCY</th>
            <th>DESCRIPTION</th>
            <th>AVERAGE RATE</th>
            <th>INGREDIENTS</th>
            <th>BITMAP URL</th>
        </tr>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.mName}">Name</td>
            <td th:text="${dish.mWeight}">Weight</td>
            <td th:text="${dish.mType}">Type</td>
            <td th:text="${dish.mCost}">Cost</td>
            <td th:text="${dish.mCurrency}">Currency</td>
            <td th:text="${dish.mDescription}">Description</td>
            <td th:text="${dish.mAverageEstimation}">Average rate</td>
            <td th:text="${dish.mIngredients}">Ingredients</td>
            <td th:text="${dish.mBitmapUrl}">Bitmap url</td>
        </tr>
    </table>
</body>
</html>